{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <h1 class="col s12 center-align main-logo">Add an Event</h1>
  </div>
</div>

<div class="row event-form">
  <form class="col s12" method="POST" action="{{ url_for('add_event') }}">
    <div class="row">
      <div class="input-field col s12 form-item">
        <input
          placeholder="Placeholder"
          id="event_name"
          type="text"
          class="validate"
          name="event_name"
          required
        />
        <label for="event_name">Event Name</label>
      </div>

    <div class="row">
      <div class="input-field col s12 form-item">
        <input
          placeholder="Placeholder"
          id="venue_name"
          type="text"
          class="validate"
          name="venue_name"
          required
          />
        <label for="venue_name">Venue Name</label>
      </div>

      <div class="row">
        <div class="input-field col s12 form-item">
          <input
              placeholder="Placeholder"
              id="city_name"
              type="text"
              class="validate"
              name="city_name"
              required
            />
          <label for="city_name">City Name</label>
      </div>

      <div class="row">
        <div class="input-field col s12 form-item">
          <input
            placeholder="Placeholder"
            id="date"
            type="text"
            class="validate datepicker"
            name="date"
            required
          />
          <label for="date">Date</label>
        </div>

      <div class="row">
        <div class="input-field col s12 form-item">
          <select name="event_id" id="event_id" class="validate" required>
            <option value="" disabled selected>Choose Artist</option>
            {% for event in events %}
              <option value="{{ event.id }}">{{ event.artist_name }}</option>
            {% endfor %}
          </select>
          <label for="event_id">Artist</label>
        </div>
      
    <div class="row">
      <div class="col s12 center-align">
        <button class="btn-large event-button" type="submit">
          Add <i class="fas fa-plus-square right"></i>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
