{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <h1 class="col s12 center-align main-logo">My Events</h1>
    <p class="col s12 center-align">This is a list of all the events you've ever been to!</p>
  </div>
  <div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_event') }}" class="btn-large event-button">
            Add an event <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
  {% for event in events|sort(attribute="date") %}
  <li>
    <div class="collapsible-header">
      <i class="fas fa-caret-down"></i>
      <strong>{{ event.event_name}}</strong>: {{ event.date.strftime("%d %B,%Y") }}
    </div>
    <div class="collapsible-body">
      <div class="event-item"><div class="event-heading">Event/Artist Name: </div>{{ event.event_name }}</div>
      <div class="event-item"><div class="event-heading">Venue Name: </div>{{ event.venue_name }}</div>
      <div class="event-item"><div class="event-heading">Location: </div>{{ event.city_name }}</div>
      <div class="event-item"><div class="event-heading">Date: </div>{{ event.date }}</div>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
