{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <h1 class="col s12 center-align main-logo">My Artists</h1>
  </div>
  <div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_artist') }}" class="btn-large event-button">
            Add an artist <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>
<div class="row">
  {% for art in artist %}
  <div class="col s12 m6 l3">
    <div class="card center-align event-button">
      <div class="card-content black-text">
        <span class="card-title">{{ art.artist_name }}</span>
      </div>
      <div class="card-action">
        <a class="white-text btn grey darken-3" href="{{ url_for('edit_artist', artist_id=art.id) }}">Edit</a>
        <a  class="white-text btn grey darken-3" href="#">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
